<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lihat Seluruh Pesawat</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>

    <body>
        <nav th:replace="fragments/fragment :: navbar"></nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <br><br><br>
                    <h2 class="text-center">Daftar Pesawat</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <a style="color: inherit;" th:href="@{/pesawat/tambah/}">
                        <button class="btn"
                                style=" color: white;
                                        background-color: rgb(53, 174, 214);"
                        >
                            + Tambah Pesawat
                        </button>
                    </a>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-7">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <td>Id</td>
                                <td>Nomor Seri</td>
                                <td>Tipe Pesawat</td>
                                <td>Jenis Pesawat</td>
                                <td>Maskapai</td>
                                <td>Aksi</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pesawat, iterationStatus : ${listPesawat}">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${pesawat.nomor_seri}"></td>
                                <td th:text="${pesawat.tipeModel.nama}"></td>
                                <td th:text="${pesawat.jenis_pesawat}"></td>
                                <td th:text="${pesawat.maskapai}"></td>
                                <td>
                                    <form th:action="@{/pesawat/ubah/} + ${pesawat.id}" method="POST">
                                        <a th:href="@{/pesawat/} + ${pesawat.id}" class="btn btn-info">Lihat</a>
                                        <a th:href="@{/pesawat/ubah/} + ${pesawat.id}" class="btn btn-warning">Ubah</a>
                                        <button class="btn btn-danger" type="submit" name="hapus">
                                            Hapus
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>