<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pesawat</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>

    <body>
        <nav th:replace="fragments/fragment :: navbar"></nav>
        <div class="container">
            <br><br><br>
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Detail Pesawat</h3>
                    <br>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>
                                    <h6>Nomor Seri Pesawat</h6>
                                </td>
                                <td>
                                    <p th:text="${pesawat.nomor_seri}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Jenis Pesawat</h6>
                                </td>
                                <td>
                                    <p th:text="${pesawat.jenis_pesawat}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Nama Tipe Pesawat</h6>
                                </td>
                                <td>
                                    <p th:text="${pesawat.tipeModel.nama}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Maskapai</h6>
                                </td>
                                <td>
                                    <p th:text="${pesawat.maskapai}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Tempat Dibuat</h6>
                                </td>
                                <td>
                                    <p th:text="${pesawat.tempat_dibuat}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Tanggal Dibuat</h6>
                                </td>
                                <td>
                                    <p th:text="${formatter.format(pesawat.tanggal_dibuat)}"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-center">Daftar Teknisi Pesawat</h5>
                        </div>
                    </div>
                    <br><br>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <table class="table">
                                <thead class="table-primary">
                                    <tr>
                                        <td>No</td>
                                        <td>Nama</td>
                                        <td>Nomor Telepon</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="teknisi, iterationStatus : ${listTeknisi}">
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:text="${teknisi.nama}"></td>
                                        <td th:text="'0' + ${teknisi.nomor_telepon}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-center">Daftar Penerbangan</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row justify-content-end" style="margin-bottom:9px;">
                                <form class="col-5 d-inline-flex" th:action="@{/pesawat/} + ${pesawat.id} + '/tambah-penerbangan'" method="POST">
                                    <select class="form-control" name="idPenerbangan">
                                        <option value="" hidden selected>pilih penerbangan</option>
                                        <option
                                            th:each="valnul : ${penerbanganNull}"
                                            th:value="${valnul.id}"
                                            th:text="${valnul.nomor_penerbangan}"
                                        >
                                        </option>
                                    </select>
                                    <button type="submit" class="btn btn-info" name="tambah">
                                        Tambah
                                    </button>
                                </form>
                            </div>
                            <div class="row" style="margin-left: 132px;">
                                <div class="row">
                                    <table class="table">
                                        <thead class="table-primary">
                                            <tr>
                                                <td>No</td>
                                                <td>Nomor Penerbangan</td>
                                                <td>Bandara Asal</td>
                                                <td>Bandara Tujuan</td>
                                                <td>Waktu Berangkat</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="terbang, iterationStatus : ${pesawat.listPenerbangan}">
                                                <td th:text="${iterationStatus.count}"></td>
                                                <td th:text="${terbang.nomor_penerbangan}"></td>
                                                <td th:text="${terbang.kode_bandara_asal}"></td>
                                                <td th:text="${terbang.kode_bandara_tujuan}"></td>
                                                <td th:text="${formatter.format(terbang.waktu_berangkat)}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <p th:text="${sks}" 
                                            style="margin-top:10px !important; color: green;"
                                        >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
    <style>
        p{
            margin: 0;
        }
        h6{
            margin: 0;
        }
    </style>
</html>